<!DOCTYPE html>

<html lang="kr">
    <head>
        <meta charset="UTF-8" />

        <title>Dog Ear TXT</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />

        <!-- bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous"
        />

        <!-- font 나눔스퀘어 -->
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />

        <!-- custom css -->
        <link href="/css/index.css" rel="stylesheet" />
        <link href="/css/font.css" rel="stylesheet" />
        <link href="/css/common.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container max-width-576">
            <div class="bg-clipboard flex-box">
                <div class="center-login align-items-center">
                    <!-- padding -->
                    <div class="my-4"></div>

                    <!-- title box -->
                    <div class="title-box">
                        <span class="title">Dog</span>
                        <img class="logo-img" src="/img/dogear_logo.png" />
                        <span class="title">Ear</span>
                    </div>

                    <!-- login box -->
                    <div id="login-box" class="my-4">
                        <!-- logout state -->
                        <input type="text" id="email-input" class="form-control my-3" placeholder="email" />
                        <input type="password" id="password-input" class="form-control my-3" placeholder="password" />

                        <!-- login state -->
                        <div id="welcome-message" class="my-3 d-none">Welcome</div>
                        <div id="email-verify-message" class="my-3 d-none">Email Not Verified!</div>
                        <div id="display-name" class="my-3 d-none"></div>
                    </div>

                    <!-- logout state -->
                    <button id="sign-up-btn" class="btn btn-info">Sign Up</button>
                    <button id="sign-in-btn" class="btn btn-primary">Sign In</button>

                    <!-- login state -->
                    <button id="enter-btn" class="btn btn-info d-none">Enter</button>
                    <button id="sign-out-btn" class="btn btn-primary d-none">Sign Out</button>
                </div>
            </div>
        </div>

        <script defer src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/7.19.1/firebase-auth.js"></script>
        <script defer src="https://www.gstatic.com/firebasejs/7.19.1/firebase-analytics.js"></script>

        <script defer src="/js/index.js"></script>
        <script defer src="/js/init_firebase.js"></script>
        <script defer src="/js/firebase_login.js"></script>
    </body>
</html>
