<!DOCTYPE html>

<html lang="kr">
    <head>
        <meta charset="UTF-8" />

        <title>웹 TXT Viewer</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />

        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />

        <link href="/css/index.css" rel="stylesheet" />
        <link href="/css/font.css" rel="stylesheet" />
        <link href="/css/common.css" rel="stylesheet" />
    </head>

    <body style="background-color: antiquewhite">
        <div class="container max-width-576">
            <form class="bg-clipboard d-flex" action="/users" method="get">
                <div class="center-login align-items-center">
                    <div class="title mb-3">Dog Ear TXT</div>
                    <div class="mb-3">
                        <label for="user-name-input" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="user-name-input" />
                    </div>
                    <div class="mb-3">
                        <label for="password-input" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-input" />
                    </div>
                    <button type="submit" class="btn btn-info">Sign Up</button>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </form>
        </div>
    </body>
</html>
