<!DOCTYPE html>

<html lang="kr">
    <head>
        <meta charset="UTF-8" />

        <title>웹 TXT Viewer</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />

        <!-- bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous"
        />

        <!-- font 나눔스퀘어 -->
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />

        <link href="/css/font.css" rel="stylesheet" />
        <link href="/css/common.css" rel="stylesheet" />
        <link href="/css/starts.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container max-width-576 font-normal">
            <!-- title box -->

            <div class="title-box my-4">
                <span class="title">Dog</span>
                <img class="logo-img" src="/img/dogear_logo.png" />
                <span class="title">Ear</span>
            </div>

            <!-- Recent History -->
            <div class="arrow-box">
                <a href="#" class="list-group-item list-group-item-action px-3 py-2" style="border: none" aria-current="true">
                    <div class="text-center">
                        <span class="mx-2 text-break txt-title">txt_title 텍스트 파일 제목</span>
                    </div>
                </a>
            </div>

            <!-- TXT List -->
            <p class="ml-2 mt-4 mb-2">TXT List</p>

            <div id="start-list" class="list-group"></div>

            <!-- footer padding -->
            <div class="m-4"></div>
        </div>

        <!-- none-display information -->
        <div id="user-id" style="display: none">{{index . "userID"}}</div>

        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- javascript -->
        <script src="/js/start_ajax.js"></script>
    </body>
</html>
