<!DOCTYPE html>

<html lang="kr">
    <head>
        <meta charset="UTF-8" />

        <title>웹 TXT Viewer</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />

        <!-- bootstrap -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
            integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
            crossorigin="anonymous"
        />

        <!-- font 나눔스퀘어 -->
        <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />

        <link href="/css/font.css" rel="stylesheet" />
        <link href="/css/common.css" rel="stylesheet" />
        <link href="/css/starts.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container max-width-576 font-normal">
            <div id="user-id" style="display: none">{{index . "userID"}}</div>

            <div id="start-list" class="list-group">
                <a href="#" class="list-group-item list-group-item-action p-4">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">TXT file 이름</h5>
                        <span class="upload-date">2020.04.10</span>
                    </div>
                    <div class="recent-date text-secondary text-right">3 days ago</div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">List group item heading</h5>
                        <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
            </div>
        </div>

        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- javascript -->
        <script src="/js/start_ajax.js"></script>
    </body>
</html>
