<!DOCTYPE html>

<html lang="kr">

<head>
    <meta charset="UTF-8">

    <title>웹 TXT Viewer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=0" />

    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
</head>

<body>

    <ul id="user-list">
        
    </ul>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- javascript -->
    <script src="/js/user_ajax.js"></script>
</body>

</html>