@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap");

@font-face {
    font-family: "NEXON Lv1 Gothic OTF Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "NEXON Lv1 Gothic OTF Bold";
}

.font-gothic {
    font-family: "Nanum Gothic", sans-serif;
}
.font-sans {
    font-family: "Noto Sans KR", sans-serif;
}
.font-serif {
    font-family: "Noto Serif KR", serif;
}

.font-small {
    font-size: 16px;
    line-height: 25px;
}

.font-medium {
    font-size: 20px;
    line-height: 30px;
}

.font-large {
    font-size: 24px;
    line-height: 33px;
}

.font-xlarge {
    font-size: 28px;
    line-height: 36px;
}
