.bg-clipboard {
    height: 95vh;
    background-image: url("/img/clipboard_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.center-login {
    margin: auto;
}

.title {
    text-align: center;
    font-size: xx-large;
}
