.bg-clipboard {
    height: 95vh;
    background-image: url("/img/clipboard_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.center-login {
    min-width: 200px;
    width: 55%;
    margin: auto;
    text-align: center;
}

#login-box {
    height: 100px;
}

.title {
    font-size: xx-large;
}

.logo-img {
    width: 30%;
}

#display-name {
    color: gray;
}
