.bg-clipboard {
    height: 95vh;
    min-height: 456px;
    background-image: url("/img/clipboard_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.center-login {
    min-width: 200px;
    width: 40%;
    margin: auto;
    text-align: center;
}

#login-box {
    height: 100px;
}

#display-name {
    color: gray;
}
